# Tests

In [1]:
import pandas as pd

In [10]:
A = pd.DataFrame({'a': [1, 3, 2], 'b': [0, 6, 5]})
B = pd.DataFrame({'a': [2, 3, 4], 'b': [0, 5, 6]})
C = pd.DataFrame({'a': [7, 2, 8], 'b': [6, 5, 7]})

In [11]:
A

   a  b
0  1  0
1  3  6
2  2  5

In [12]:
B

   a  b
0  2  0
1  3  5
2  4  6

In [13]:
C

   a  b
0  7  6
1  2  5
2  8  7

In [31]:
m = C.eq(A.loc[:, :]).all(axis=1)
m

0    False
1    False
2    False
dtype: bool

In [29]:
C[m]

   a  b
1  2  5

In [14]:
A.equals(A)

True

In [15]:
A.equals(C)

False

In [17]:
A.eq(C)

       a      b
0  False  False
1  False  False
2  False  False