# Tests

In [1]:
import pandas as pd

In [23]:
A = pd.DataFrame({'a': [1, 3, 2], 'b': [0, 6, 5]}, index=[0, 1, 2])
B = pd.DataFrame({'a': [2, 3, 4], 'b': [0, 5, 6]}, index=[0, 1, 2])
C = pd.DataFrame({'a': [7, 2, 8], 'b': [6, 5, 7]}, index=[3, 4, 5])

In [24]:
A

   a  b
0  1  0
1  3  6
2  2  5

In [25]:
l1 = ['b']
l2 = ['B']
d = dict((i1, i2) for i1, i2 in zip(l1, l2))

In [26]:
d

{'b': 'B'}

In [27]:
A.rename(columns=d, inplace=True)
A

   a  B
0  1  0
1  3  6
2  2  5

In [8]:
B

   a  b
0  2  0
1  3  5
2  4  6

In [9]:
C

   a  b
3  7  6
4  2  5
5  8  7

In [13]:
D = pd.DataFrame()
D.loc[:,'diff-a'] = A['a'] - B['a']
D.loc[:,'diff-b'] = A['b'] - B['b']
D.loc[:,'diff-a2'] = A['a'] - C['a']

In [14]:
D

   diff-a  diff-b  diff-a2
0      -1       0      NaN
1       0       1      NaN
2      -2      -1      NaN

In [31]:
m = C.eq(A.loc[:, :]).all(axis=1)
m

0    False
1    False
2    False
dtype: bool

In [29]:
C[m]

   a  b
1  2  5

In [14]:
A.equals(A)

True

In [15]:
A.equals(C)

False

In [17]:
A.eq(C)

       a      b
0  False  False
1  False  False
2  False  False

In [ ]:
A = pd.Series(['a', 'a', 'a', 'b', 'c', 'c', 'c', 'c', 'd'], index=[0, 1, 5, 67, 23, 4, 32, 53, 65])
B = pd.Series(['a', 'a', 'b', 'b', 'c', 'c', 'd'], index=[34, 44, 11, 22, 55, 66, 77])

In [15]:
A, B

(0     a
 1     a
 5     a
 67    b
 23    c
 4     c
 32    c
 53    c
 65    d
 dtype: object, 34    a
 44    a
 11    b
 22    b
 55    c
 66    c
 77    d
 dtype: object)

In [68]:
B_counts = gbB.agg('count')
B_counts['a']

2

In [95]:
gbA.transform(lambda x: x + str(x.index[0]))

0      a0
1      a0
5      a0
67    b67
23    c23
4     c23
32    c23
53    c23
65    d65
dtype: object

In [109]:
# r = gbA.apply(lambda x: x.index[:B_counts[x.values[0]]].values)
r = gbA.apply(lambda x: x.index.values)
r

a          [0, 1, 5]
b               [67]
c    [23, 4, 32, 53]
d               [65]
dtype: object

In [108]:
gbB.transform(lambda x: r[x])#[r[x][i] for i in range(len(x))])

34     [0, 1]
44     [0, 1]
11       [67]
22       [67]
55    [23, 4]
66    [23, 4]
77       [65]
dtype: object

In [47]:
gbB = B.groupby(B)
gbB.groups

{'a': [34, 44], 'b': [11, 22], 'c': [55, 66], 'd': [77]}

In [48]:
gbA = A.groupby(A)
gbA.groups

{'a': [0, 1, 5], 'b': [67], 'c': [23, 4, 32, 53], 'd': [65]}

In [107]:
A

0     a
1     a
5     a
67    b
23    c
4     c
32    c
53    c
65    d
dtype: object