# RNN tryouts on SPR data


- Load m month of data
- Minimal data cleaning
- Feature engineering

- Setup model

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
from common import load_data, minimal_clean_data_inplace, preprocess_data_inplace

In [3]:
DATAFILE_PATH = os.path.join("..", "data", "train_ver2.csv")

In [4]:
data_df = load_data(DATAFILE_PATH, 201605, 201605)

/home/osboxes/Documents/TDS/venv/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [5]:
minimal_clean_data_inplace(data_df)

In [10]:
print data_df.shape
data_df.tail()

(931453, 46)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
931448,2016-05-28,1166765,N,ES,V,22,2013-08-14,0,33,1,...,0,0,0,0,0,0,0,0,0,0
931449,2016-05-28,1166764,N,ES,V,23,2013-08-14,0,33,1,...,0,0,0,0,0,0,0,0,0,0
931450,2016-05-28,1166763,N,ES,H,47,2013-08-14,0,33,1,...,0,0,0,0,0,0,0,0,0,0
931451,2016-05-28,1166789,N,ES,H,22,2013-08-14,0,33,1,...,0,0,0,0,0,0,0,0,0,0
931452,2016-05-28,1550586,N,ES,H,37,2016-05-13,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
def to_yearmonth(yearmonthdate_str):
    """
    Convert '2016-01-23' -> 201601
    """
    # yearmonth = int(yearmonth_str[:7].replace('-', ''))
    yearmonth = int(yearmonthdate_str[:4] + yearmonthdate_str[5:7])
    return yearmonth

In [8]:
from math import floor, ceil
def get_nb_months(start_date_str, end_date_str):
    res = to_yearmonth(end_date_str)*0.01 - to_yearmonth(start_date_str)*0.01
    return int(res) * 12 + int((res - int(res)) * 100 + 0.5)

In [9]:
def compute_duration(row):
    return get_nb_months(row['fecha_alta'], row['fecha_dato'])

In [11]:
data_df['antiguedad'] = data_df.apply(compute_duration, axis=1)

In [12]:
print data_df.shape
data_df.tail()

(931453, 46)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
931448,2016-05-28,1166765,N,ES,V,22,2013-08-14,0,121,1,...,0,0,0,0,0,0,0,0,0,0
931449,2016-05-28,1166764,N,ES,V,23,2013-08-14,0,121,1,...,0,0,0,0,0,0,0,0,0,0
931450,2016-05-28,1166763,N,ES,H,47,2013-08-14,0,121,1,...,0,0,0,0,0,0,0,0,0,0
931451,2016-05-28,1166789,N,ES,H,22,2013-08-14,0,121,1,...,0,0,0,0,0,0,0,0,0,0
931452,2016-05-28,1550586,N,ES,H,37,2016-05-13,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
row = data_df.loc[931448]

In [18]:
print row['fecha_alta'], row['fecha_dato']
print to_yearmonth(row['fecha_alta']), to_yearmonth(row['fecha_dato'])

2013-08-14 2016-05-28
201308 201605

In [53]:
start_date_str = '2015-12-14' 
end_date_str = '2016-01-28'
res = to_yearmonth(end_date_str)*0.01 - to_yearmonth(start_date_str)*0.01
print res
print int(res) * 12, res - int(res), int((res - int(res)) * 100 + 0.5),

0.89
0 0.89 89

-2

In [34]:
for i in range(1,13):
    for j in range(1,13):
        print i,j, (i + j) % 13

1 1 3
1 2 5
1 3 7
1 4 9
1 5 11
1 6 13
1 7 15
1 8 17
1 9 19
1 10 21
1 11 23
1 12 12
2 1 5
2 2 7
2 3 9
2 4 11
2 5 13
2 6 15
2 7 17
2 8 19
2 9 21
2 10 23
2 11 12
2 12 13
3 1 7
3 2 9
3 3 11
3 4 13
3 5 15
3 6 17
3 7 19
3 8 21
3 9 23
3 10 12
3 11 13
3 12 15
4 1 9
4 2 11
4 3 13
4 4 15
4 5 17
4 6 19
4 7 21
4 8 23
4 9 12
4 10 13
4 11 15
4 12 17
5 1 11
5 2 13
5 3 15
5 4 17
5 5 19
5 6 21
5 7 23
5 8 12
5 9 13
5 10 15
5 11 17
5 12 19
6 1 13
6 2 15
6 3 17
6 4 19
6 5 21
6 6 23
6 7 12
6 8 13
6 9 15
6 10 17
6 11 19
6 12 21
7 1 15
7 2 17
7 3 19
7 4 21
7 5 23
7 6 12
7 7 13
7 8 15
7 9 17
7 10 19
7 11 21
7 12 23
8 1 17
8 2 19
8 3 21
8 4 23
8 5 12
8 6 13
8 7 15
8 8 17
8 9 19
8 10 21
8 11 23
8 12 25
9 1 19
9 2 21
9 3 23
9 4 12
9 5 13
9 6 15
9 7 17
9 8 19
9 9 21
9 10 23
9 11 25
9 12 27
10 1 21
10 2 23
10 3 12
10 4 13
10 5 15
10 6 17
10 7 19
10 8 21
10 9 23
10 10 25
10 11 27
10 12 29
11 1 23
11 2 12
11 3 13
11 4 15
11 5 17
11 6 19
11 7 21
11 8 23
11 9 25
11 10 27
11 11 29
11 12 31
12 1 12
12 2 13
12 3 15
12 4 17
12 5 19
12 6 21
12 7 23
12 8 25
12 9 27
12 10 29
12 11 31
12 12 33